<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django First Project</title>
</head>

<body>
    <div>
        • I’m Munjur Alom and I belong to Bangladesh. I’ve completed my Bachelors of Computer <br>Science & Engineering
        from Khwaja Yunus Ali University. I am energetic & a great <br>communicator. My previous experience in the same
        position helped me build confidence and <br>develop advanced skills for this position. I am trustworthy and
        punctual, and I can always <br>be depended on to finish what I start. I also consider myself hardworking,
        reliable, <br>dependable, helpful, outgoing, organized, honest and cooperative.
    </div>

</body>

</html>